<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- Storage Bean -->
  <bean id="storage" class="com.example.demo.repository.Storage"/>

  <!-- Repositories -->
  <bean id="userRepository" class="com.example.demo.repository.UserRepository">
    <constructor-arg ref="storage"/>
  </bean>

  <bean id="eventRepository" class="com.example.demo.repository.EventRepository">
    <constructor-arg ref="storage"/>
  </bean>

  <bean id="ticketRepository" class="com.example.demo.repository.TicketRepository">
    <constructor-arg ref="storage"/>
  </bean>

  <!-- Services -->
  <bean id="userService" class="com.example.demo.service.UserService">
    <constructor-arg ref="userRepository"/>
  </bean>
  <bean id="eventService" class="com.example.demo.service.EventService">
    <constructor-arg ref="eventRepository"/>
  </bean>
  <bean id="ticketService" class="com.example.demo.service.TicketService">
    <constructor-arg ref="ticketRepository"/>
  </bean>

  <!-- Facade -->
  <bean id="bookingFacade" class="com.example.demo.facade.BookingFacadeImpl">
    <constructor-arg ref="userService"/>
    <constructor-arg ref="eventService"/>
    <constructor-arg ref="ticketService"/>
  </bean>
</beans>
